@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    /* COLORES PRINCIPALES (BRAD CORE)*/
    --azul_profundo:     #0a3d62;   /*(confianza, profesionalismo)*/
    --azul_profundo_02:  #0d4f7e;
    --azul_medio:        #1e5f74;   /*(dinamismo, frescura)*/
    --celeste_claro:     #a3d2ca;   /*(tranquilidad, contraste suave)*/
    --verde_azulado:     #2e8b57;   /*(energía, movimiento)*/

    /* COLORES SECUNDARIOS (COMPLEMENTARIOS)*/
    --gris_oscuro:       #2f2f2f;   /*(texto principal, elegancia)*/
    --gris_medio:        #6c757d;   /*(texto secundario, íconos)*/
    --gris_claro:        #e9e6ef;   /*(fondos suaves)*/
    --blanco:            #ffffff;   /*(fondos suaves)*/

    /* COLORES DE ACENTO (ACCIONES Y BOTONES)*/
    --naranja_vibrante:  #f77f00;   /*(llamadas a la acción, botones)*/
    --naranja_vibrante_02: #f59025;
    --amarillo_calido:   #ffd60a;   /*(resaltados, íconos)*/
    --rojo_suave:        #e63946;   /*(alertas, advertencias)*/

    /* TONALIDADES ADICIONALES (variaciones útiles)*/
    --azul_oscuro_extra: #052c46;   /*(tonalidad más oscura del azul principal)*/
    --azul_claro_extra:  #74c0fc;   /*(tonalidad más clara del azul principal)*/
    --verde_claro:       #81c784;   /*(tonalidad más clara del verde principal)*/
    --gris_azulado:      #adb5bd;   /*(tonalidad gris con matiz azulado)*/
    --gris_azulado_02:   #97a6b4;
    --negro_suave:       #212529;   /*(tonalidad negra suave)*/
    --negro_comun:       #000000;   /*(tonalidad negra común)*/
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;

    /* font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal; */
}

/* html {
    scroll-behavior: smooth;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    height: 90px;
    width: 100%;
    /*  background-color: rgba(121, 161, 240, 0.1);  */
    background-color: var(--azul_profundo);
    backdrop-filter: blur(24px);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25), 
                4px 8px 32px rgba(0,0,0,0.25);
/*                 unset 0px 0px 0px rgba(0,0,0,0.25); */
    transition: 0.8s;
    z-index: 100;
}

nav.abajo {
    background-color: var(--azul_profundo_02);
}

.enlace {
    position: absolute;
    height: 70px;
    padding: 6px;
    margin: 8px 0 0 16px;
  
    display: flex;
    align-items: center;
}

.logo {
    height: 56px;
    width: 56px;
    border-radius: 50px;
    margin-right: 10px;

    animation: animation-logo 10s ease-in-out infinite;
}

@keyframes animation-logo {
    0% {
        transform: rotateY(0);
    }
    30% {
        transform: rotateY(180deg);
    }
    60%, 100% {
        transform: rotateY(0);
    }
}

.names {
    display: flex;
    flex-direction: column;
}

.main-name {
    /* text-shadow: 1px 1px var(--color03); */
    color: var(--naranja_vibrante);
    font-weight: bold;
    font-size: 1.6rem;
    transition: 0.5s;
} 

.main-name:hover {
    /* text-shadow: 1px 1px var(--color06); */
    color: var(--amarillo_calido);
    transition: 0.5s;
}
 
.main-namesito {
    margin-top: 4px;
    color: var(--rojo_suave);
    text-shadow: 1px 1px 0px var(--blanco);
    font-size: 0.88rem;
}

nav ul {
    float: right;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 6px;
}

nav ul li a {
    position: relative;
    color: var(--blanco);
    /* text-shadow: 1px 1px 0px var(--color01); */
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    transition: background 0.5s;
}

li a:hover {
    /* color: var(--color06); */
    color: var(--naranja_vibrante);
}

nav.abajo ul li a {
    color: var(--naranja_vibrante);
}

nav.abajo ul li a:hover {
    color: var(--blanco);
}

.fa-home {
    font-size: 1.125rem;
}

/* nuevo */
li a:after {
    content: "";
    position: absolute;
    background-color: var(--celeste_claro);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

li a:hover:after {
    width: 100%;
}

li a:focus {
    color: var(--color03);
}

.checkbtn {
    font-size: 34px;
    color: var(--blanco);
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    padding-top: 20px;  /* para que baje, estaba muy arriba */
    display: none;
}

nav.abajo .checkbtn {
    color: var(--naranja_vibrante);
}

#check {
    display: none;
}

/********************************************/
/* ****     Zona central: zona1        **** */ 
/* **************************************** */
.zona1 {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    margin-top: 86px; /* añade margen para compensar el navbar fijo */
    display: flex;
    z-index: 0;
}

.container-zona1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 80%;
    min-height: 80%;
    margin: 0 auto;
}

.imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: opacity 1s ease-in-out;
}

.contenido {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.h1-zona1 h1 {
    font-size: 4.4rem;  
    /* font-size: clamp(2.5rem, 3vw, 4.4rem); */
    text-align: center;
    color: var(--naranja_vibrante);
    text-shadow: 2px 2px 0px var(--blanco),
                 0px 0px 20px var(--blanco),
                 0px 0px 30px var(--blanco);
    font-family: 'Cormorant', Georgia, 'Times New Roman', serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 30px;
}

.p-zona1 p {
    max-width: 90%;
    font-size: clamp(1.1rem, 2vw, 2rem);
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    color: var(--negro_comun);
    text-shadow: 1px 1px 2px var(--blanco), 
                 0px 0px 5px  var(--blanco), 
                 0px 0px 10px #ffffff,
                 0px 0px 20px #ffffff,
                 0px 0px 40px #ffffff,
                 0px 0px 80px #ffffff;/* Sombra de color fuerte y menor desenfoque */
                  /* Mayor desenfoque para efectos de resplandor */
}

.p-zona1 span {
    color: var(--negro_comun);
    text-shadow: 1px 1px 0px  var(--gris_claro),
                 0px 0px 5px  var(--blanco), 
                 0px 0px 10px var(--blanco),
                 0px 0px 20px var(--blanco),
                 0px 0px 40px var(--blanco),
                 0px 0px 80px var(--blanco);
}

.flecha-abajo {
    margin-top: 50px;
    font-size: clamp(1.875rem, 3vw + 1.25rem, 3.125rem);
    border-radius: 50px;
    
    transform: translateX(50%);
    animation: bounce 1s infinite;
}
  
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
}

.flecha-abajo a {
    color: var(--verde_claro);
}



/**********************************************/
/* *********** Card de los servicios ******** */
/**********************************************/
#container-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 100px;
    padding-bottom: 40px;
    max-width: 100%;
    height: auto;
    background-color: var(--gris_claro);
    position: relative;
}

#container-servicios h2 {
    padding-bottom: 20px;
    text-align: center;
    font-size: clamp(2.4rem, 3vw, 3rem);
    background: linear-gradient(180deg, var(--azul_medio), 
                                        var(--celeste_claro));
    -webkit-background-clip: text; /* Necesario para navegadores WebKit */ 
    background-clip: text; /* Clip del fondo al texto */ 
    color: transparent; /* Hace el texto transparente para que el gradiente sea visible */
}

.card-servicios {
    height: auto;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;

    /* display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    grid-auto-rows: 400px; */


    /* Estos 3 renglos son porque utilizo display flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-rows: 55% 10% 25% 10%;
    border-radius: 8px;
    background-color: #d4d3d3;
    width: 100%;
   /*  padding-bottom: 6px; */
    object-fit: cover;
    overflow: hidden;
    transition: 0.5s;

    /* Esto es por display flex, si ponemos
       display grid, entonces sacamos los 2 
       siguientes renglones */
    max-width: 350px;
    max-height: 400px;
}

.card:hover {
    box-shadow: 0px 1px 0px 0px var(--blanco);
}

.card-img {
    grid-row: 1/2; /* Imagen ocupa la primera fila */
    transition: 0.4s;
}

.card-img:hover {
    scale: 1.03;
    transition: 0.4s;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title {
    grid-row: 2/3; /* Título ocupa la segunda fila */
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.card-title h3 {
    font-size: 28px;
    margin: 0;

    color: var(--azul_medio);
}

.card-description {
    grid-row: 3/4; /* Descripción ocupa la tercera fila */
    margin: 0 16px;
    padding-right: 6px;
    display: flex;
    align-items: flex-start;
    overflow-y: auto; /* Hacer que el contenido desbordado sea desplazable verticalmente */
    max-height: 100%; /* Asegurar que no crezca más allá del contenedor */
}

.card-description p {
    color: var(--gris_oscuro);
    font-size: clamp(0.8rem, 2vw, 1rem);
    padding: 10px 0;
    line-height: 1.2;
}

.card-btn {
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn a {
    background-color: var(--azul_medio);
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: #ffffff;
    padding: 4px 20px;
    border-radius: 5px;    
    transition: background-color 0.3s;
}

.card-btn a:hover {
    background-color: var(--gris_azulado_02);
}


/*************************/
/* ******* Footer ****** */
/*************************/
.footer-container {
    width: 100%;
    height: auto;
    background-color: var(--gris_azulado_02);
    /* border-top: 2px solid var(--color03); */
}

.container-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.box-footer {
    min-width: 140px;
    margin-inline: 16px;
}

.title-box {
    padding: 20px 0px 10px;
    color: var(--naranja_vibrante);
    text-shadow: 0 0 10px var(--azul_oscuro_extra),
                 0 0 20px var(--azul_oscuro_extra),
                 0 0 30px var(--azul_oscuro_extra)
}

/* Horarios */
.dias {
    color: var(--azul_oscuro_extra);
    text-shadow: 0 0 10px var(--gris_claro),
                 0 0 20px var(--gris_claro),
                 0 0 30px var(--gris_claro);
}

.horas {
    color: var(--blanco);
}

/* Enlaces */
.box-footer ul li {
    padding: 0px 0px 4px;
}

.box-footer li a {
    color: var(--blanco);
}

.box-footer li a:hover {
    color: var(--amarillo_calido);
}

/* Otros datos */
.otros-datos a {
    color: var(--blanco);
}

.otros-datos a:hover {
    color: var(--amarillo_calido);
}

.telefono, .direccion {
    margin: 10px 0px 10px;
    color: var(--blanco);
}

.otros-datos .terminos {
    color: var(--amarillo_calido);
}

/* Sociales */
.sociales {
    padding-bottom: 10px;
}

.sociales a {
    padding: 0 4px;
    /* display: inline-block; */
    display: flex;
    color: var(--blanco);
    margin-top: 4px;
}

.linkedin, .github, .facebook, .whatsapp {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    margin-right: 6px;
    transition: 0.5s;
}

.sociales a:hover {
    color: var(--amarillo_calido);
}

/* Copyright */
.copy {
    text-align: center;
    padding: 16px 0;
    color: var(--rojo_suave);
    font-size: clamp(0.7rem, 3vw, 1rem);
}

.copyright a {
    color: var(--rojo_suave);
}



/**************************************/
/* ***** Media Query con 1368px ***** */
/**************************************/
@media (max-width: 1368px) {
    .h1-zona1 h1 {
        font-size: 3.8rem;
    }
}


/*************************************/
/* ***** Media Query con 1090px ***** */
@media (max-width: 1090px) {
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .main-name {
        font-size: 1.3rem;
    }

    .main-namesito {
        font-size: 0.74rem;
    }

    .checkbtn {
        display: block;
        margin-top: 8px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 74vh;   /*  */
        background: rgba(136, 165, 194, 0.9);
        top: 90px;
        left: -100%;
        margin: 0;
        text-align: center;
        transition: all .5s;
        overflow-y: auto;

        display: block; /* agregue */
    }

    nav ul li {
        display: block;
        margin: 14px 0;
        line-height: 50px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
    }

    #check:checked ~ ul {
        left:0;
    }
}


/*************************************/
/* ***** Media Query con 952px ***** */
@media (max-width: 952px) {

}



/*************************************/
/* ***** Media Query con 858px ***** */
/*************************************/
@media (max-width: 858px) {

}



/*************************************/
/* ***** Media Query con 774px ***** */
/*************************************/
@media (max-width: 774px) {
    .h1-zona1 h1 {
        font-size: 3rem;
    }

    .presentacion {
        width: 80%;
    }
    
    .card-pres {
        width: 90%;
    }
}



/*************************************/
/* ***** Media Query con 542px ***** */
/*************************************/
@media (max-width: 542px) {

}


/*************************************/
/* ***** Media Query con 516px ***** */
/*************************************/
@media (max-width: 516px) {
    .presentacion {
        width: 90%;
    }
    
    .card-pres {
        width: 100%;
    }

    .box-footer {
        min-width: 120px;
        margin-inline: 12px;
    }

    .title-box {
        font-size: 16px;
    }

    .box-footer p, .box-footer a {
        font-size: 14px;
    }
}



/*************************************/
/* ***** Media Query con 490px ***** */
/*************************************/
@media (max-width: 490px) {
    .fa-bars {
        scale: 0.9;
    }

    .main-name {
        font-size: 1.1rem;
    }

    .main-namesito {
        font-size: 0.62rem;
    }

    .h1-zona1 h1 {
        font-size: 2.5rem;
    }
}


/*************************************/
/* ***** Media Query con 430px ***** */
/*************************************/
@media (max-width: 430px) {
    .logo {
        height: 40px;
        width: 40px;
    }
}
